body {
	padding: 0;
	margin: 0;
	background-color: #EFD3B5;
	justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	
}

.nav{
	background-color: #D67BA8;
}

.views-tools{
	width: 70vw;
}

.tool-item {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	
}

.tool-item>span, .head >span{
	width:150px;
	margin-bottom: 5px;
}


.head {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	background-color: #CCC;
	height: 50px;
	width: 70vw;
}

/*************************/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  overflow: auto;
  min-width: 250px;
  
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown span:hover {background-color: #ddd;}

.show {display: block;}

.searchDivMovement{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
/***************************************/